body {
  background-color: black;
}

h1,h4 {
  color: white;
}

.container {
  margin: 10px auto;
  background: black;
  border: 10px solid #4b2e83;

}

#uw {
  background-color: #4b2e83;
  color: white;
}

#uw-gold {
  background-color: #b7a57a;
  color: #4b2e83;
}

h3 {
  text-align: center;
}