#rgb td, #rgb th, #hsl td, #hsl th{
	width: 70px;
	height: 70px;
}
#rgb #swatch{
	background-color: rgba(0, 0, 255, 0.9);
}
#rgb #swatch1{
	background-color: rgba(0, 0, 255, 0.8);
}
#rgb #swatch2{
	background-color: rgba(0, 0, 255, 0.7);
}
#rgb #swatch3{
	background-color: rgba(0, 0, 255, 0.6);
}
#rgb #swatch4{
	background-color: rgba(0, 0, 255, 0.5);
}
#rgb #swatch5{
	background-color: rgba(0, 0, 255, 0.4);
}
#rgb #swatch6{
	background-color: rgba(0, 0, 255, 0.3);
}
#rgb #swatch7{
	background-color: rgba(0, 0, 255, 0.2);
}
#rgb #swatch8{
	background-color: rgba(0, 0, 255, 0.1);
}

#hsl #swatch{
	background-color: hsla(240, 100%, 50%, 0.9);
}
#hsl #swatch1{
	background-color: hsla(240, 100%, 50%, 0.8);
}
#hsl #swatch2{
	background-color: hsla(240, 100%, 50%, 0.7);
}
#hsl #swatch3{
	background-color: hsla(240, 100%, 50%, 0.6);
}
#hsl #swatch4{
	background-color: hsla(240, 100%, 50%, 0.5);
}
#hsl #swatch5{
	background-color: hsla(240, 100%, 50%, 0.4);
}
#hsl #swatch6{
	background-color: hsla(240, 100%, 50%, 0.3);
}
#hsl #swatch7{
	background-color: hsla(240, 100%, 50%, 0.2);
}
#hsl #swatch8{
	background-color: hsla(240, 100%, 50%, 0.1);
}
thead th{
	height: 40px;
	font-size: 24px;
}