body{
	background-color: #9585bf;
    padding:50px 0px 0px 0px;
}

.jumbotron{
	margin: 0% 2%;
	border-radius: 15px;
}

.jumbotron h1{
	margin-top: 7%;
}

.form-group input{
	width: 500px;
}

.container form{
	margin: 50px auto;
}


/** BootStrap Logo */
#logo{
	float: left;
	height: 15em;
	width: 15em;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #574686;
	border-radius: 20px;
	margin-right: 20px;
}
#logo p{
	margin: 0;
	font-weight: bold;
	font-size: 10em;
	color: #ffffff;
}

